.App{
    margin: 50px auto;
    text-align: center;
    min-width: 50%;
    overflow: hidden;
}
.title{
    margin-bottom: 20px;
}
.sub-title{
    margin-bottom: 50px;
}
.btn{
    border: none;
    background: none;
    cursor: pointer;
    display: inline-block;
}
img{
    width: 100%;
}
.comp-text{
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 20px;
}
.user-code{

}
.user-code p{
    display: block;
    text-align: center;
    margin: 20px auto;
}
.input{
    width: 10%;
    min-width: 200px;
    margin: 20px auto;
}
.input .input-label{
    font-size: 10px;
    width: 100%;
    display: block;
    text-align: left;
    margin-bottom: 5px;
}
.input input{
    font-size: 13px;
    width: 100%;
    display: block;
    padding: 3px;
}
.sign-btn{
    display: block;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 30px auto;
    padding: 5px 20px;
    transition: .3s;
}
.sign-btn:hover{
    background: #000;
    color: #fff;
}
.sm-text{
    margin-top: 50px;
    font-weight: bold;
}
.user-info{
    width: 20%;
    min-width: 250px;
    margin: 10px auto;
    border: 1px solid #000;
    padding: 20px 10px;
    border-radius: 10px;
    font-size: 14px;
}
.user-info li{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
    text-align: left;
}
.user-info li span{
    width: 50%;
    display: block;
    word-wrap: break-word;
}